{% extends 'base.html.twig' %}

{% block title %}
    View all basses
{% endblock %}


 {% block stylesheets %}
     <link rel="stylesheet"
           href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/allbasses.css') }}">
 {% endblock %}

{% block body %}
    <div class = "alert alert-danger" id = "errorAlert">
        {#<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>#}
    </div>

    <div class = "bass-filter">
        <div class = "row">
            <div class = "dropdown column-md-6" id="make">
                <button class = "btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    {{ makeDropdownText }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for make in makes %}
                        <li><a href="{{ path('allbasses', {'makeParam': make.id}) }}">
                                {{ make.name }}
                        </a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class = "dropdown column-md-6" id="model">
                <button class = "btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    {{ modelDropdownText }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for model in models %}
                        <li><a href="{{ path('allbasses', {'makeParam': model.make.id, 'modelParam': model.id}) }}">
                                {{ model.name }}
                        </a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Owner</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for bass in basses %}
            {% set isThumbsDown="" %}
            {% set isThumbsUp="" %}

            {% if bass.isThumbsUp or bass.isThumbsDown %}
                {% if bass.isThumbsUp %}
                    {% set isThumbsUp="hasThumbs" %}
                {% else %}
                    {% set isThumbsDown="hasThumbs" %}
                {% endif %}
            {% endif %}

            <tr>
                <td>{{ bass.make.name }}</td>
                <td>{{ bass.model.name }}</td>
                <td>{{ bass.description }}</td>
                <td>
                    <i class="fa fa-thumbs-up {{ isThumbsUp }}" bassId = "{{ bass.id }}"></i>
                    <span class="bassRating">
                        {{ bass.rating }}
                    </span>
                    <i class="fa fa-thumbs-down {{ isThumbsDown }}" bassId = "{{ bass.id }}"></i>
                </td>
                <td>{{ bass.userEntity.username }}</td>
                <td>
                    <a href="/bass/details/{{ bass.id }}" class="btn btn-success">View Bass</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}

    <script>

        var postFunction = function (isThumbsUp, thumbsTag, callbackFunction) {

            var bassId = thumbsTag.attr("bassId");
            var url = "/bass/"

            if (isThumbsUp) {
                url += "thumbsUp/"
            }
            else {
                url += "thumbsDown/"
            }
            url += bassId;


            $.post(url, null, callbackFunction)
                .fail(function (err, status) {
                    console.error("Ajax request to " + url + " has failed with status: " + status +
                        " and error: " + err);
                });
        };

        jQuery(function ($) {
            $("i.fa-thumbs-up").click(function () {

                var bassRatingSpan = $(this).closest('td').find('span.bassRating');
                var thumbsUpIcon = $(this);
                var thumbsDownIcon = $("i.fa-thumbs-down");

                postFunction(true, $(this), function (data, status) {
                    if (data['error'] === 0) {
                        bassRatingSpan.text(data['newRating']);
                        thumbsUpIcon.addClass("hasThumbs");

                        if (thumbsDownIcon.hasClass("hasThumbs")) {
                            thumbsDownIcon.removeClass("hasThumbs");
                        }
                    }
                    else {
                        $("div#errorAlert").text(data['errorMessage']);
                        //alert("Error message: " + data['errorMessage']);
                    }
                })
            });

            $("i.fa-thumbs-down").click(function () {

                var bassRatingSpan = $(this).closest('td').find('span.bassRating');
                var thumbsDownIcon = $(this);

                postFunction(false, $(this), function (data, status) {
                    if (data['error'] === 0) {
                        bassRatingSpan.text(data['newRating']);
                        thumbsDownIcon.addClass("hasThumbs");
                    }
                    else {
                        $("div#errorAlert").text(data['errorMessage']);
                    }
                })
            });
        });
    </script>

{% endblock %}

{% block allbasses_active %}active{% endblock %}