{% extends 'base.html.twig' %}

{% block title %}
    View all basses
{% endblock %}


 {% block stylesheets %}
     <link rel="stylesheet"
           href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <style>
         .fa:hover {
             color: yellow;
         }
     </style>
 {% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Owner</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for bass in basses %}
            <tr>
                <td>{{ bass.make.name }}</td>
                <td>{{ bass.model.name }}</td>
                <td>{{ bass.description }}</td>
                <td>
                    <i class="fa fa-thumbs-up" bassId = "{{ bass.id }}"></i>
                    <span class="bassRating">
                        {{ bass.rating }}
                    </span>
                    <i class="fa fa-thumbs-down" bassId = "{{ bass.id }}"></i>
                </td>
                <td>{{ bass.userEntity.username }}</td>
                <td>
                    <a href="/bass/details/{{ bass.id }}" class="btn btn-success">View Bass</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}

    <script>

        var postFunction = function (isThumbsUp, thumbsTag, callbackFunction) {

            var bassId = thumbsTag.attr("bassId");
            var url = "/bass/"

            if (isThumbsUp) {
                url += "thumbsUp/"
            }
            else {
                url += "thumbsDown/"
            }
            url += bassId;


            $.post(url, null, callbackFunction)
                .fail(function (err, status) {
                    console.error("Ajax request to " + url + " has failed with status: " + status +
                        " and error: " + JSON.stringify(err));
                });
        };

        jQuery(function ($) {
            $("i.fa-thumbs-up").click(function () {

                var bassRatingSpan = $(this).closest('td').find('span.bassRating');

                postFunction(true, $(this), function (data, status) {
                  bassRatingSpan.text(data['newRating']);
                })
            });

            $("i.fa-thumbs-down").click(function () {

                var bassRatingSpan = $(this).closest('td').find('span.bassRating');

                postFunction(false, $(this), function (data, status) {
                    bassRatingSpan.text(data['newRating']);
                })
            });
        });
    </script>

{% endblock %}

{% block allbasses_active %}active{% endblock %}